{% include 'recipes/partials/head.html' %}
<!-- o Django importa do documento head.html os METADADOS e o CSS da pagina-->

<body>
    {% include 'recipes/partials/header.html' %} <!-- o Django importa do documento header.html o CABEÇALHO da pagina-->
    {% include 'recipes/partials/search-container.html' %}
    <!-- o Django importa do documento header.html o CABEÇALHO da pagina-->

    <main class="main-content-containder">
        <div class="main-content main-content-list container">
            {% include 'recipes/partials/recipe.html' %}
        </div>
    </main>

    {% include 'recipes/partials/footer.html' %}
</body>

</html>