{% include 'recipes/partials/head.html' %} <!-- o Django importa do documento head.html os METADADOS e o CSS da pagina-->

<body>
    {% include 'recipes/partials/header.html' %} <!-- o Django importa do documento header.html o CABEÇALHO da pagina-->
    {% include 'recipes/partials/search-container.html' %} <!-- o Django importa do documento header.html o CABEÇALHO da pagina-->

    <main class="main-content-containder">
        <div class="main-content main-content-list container">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="imagem temporária">
                    <h1>oi</h1>
                </div>
            </div>
        </div>
    </main>
</body>

</html>

